#calendar {
    width: 380px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
}

.week {
    display: flex;
}

.weekname {
    width: 50px;
    
}

.days {
    display: flex;
    flex-wrap: wrap;
    
}

.daynum {
    width: 50px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
}

.daynum .empty {
    pointer-events: none;
}

.today {
  background-color:hotpink;
  border : 2px solid darkviolet;
}
.daynum:hover {
    background: greenyellow;
    color: palevioletred;
    border : 2px solid darkviolet;
    font-size: 20px;
}

.prev-btn{
  position: absolute;
  top : 20;
  left:30px;
}

.next-btn{
  position: absolute;
  top : 20;
  left:325px;
}

//id는 # 클래스는 .으로 시작

#goto{
  position : absolute;
  left : 300px;
  top : 100px;
  margin-left:146px;

} 

.Month{
  font-size : 50px;
  color : cornflowerblue
}

.sunday{
  color : red
}

.WM{
  padding-top: 8px;
  padding-left: 17px;
  font-size : 5px;
  color : cornflowerblue
}

.WM:hover{
  color : burlywood
}
